{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Análise de imagem{% endblock %}

{% block content %}
<section class="features">
	<div class="container">
		<div class="col-md-4 col-sm-4">
			<div class="features-content">
				<span class="box1"><span aria-hidden="true" class="icon-camera"></span></span>
				<h3>Tire uma foto</h3>
				<p>Tire uma foto olhando diretamente para a câmera com o flash ligado, não esquece de manter os
					olhos abertos</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="features-content">
				<span class="box1"><span aria-hidden="true" class="icon-upload"></span></span>
				<h3>Faça o envio da fotografia</h3>
				<p>Faça o envio da fotografia nesta página para realizar uma análise pelo sistema de reconhecimento
				</p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4">
			<div class="features-content">
				<span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
				<h3>Veja os resultados</h3>
				<p>Agora é aguardar o resultado, mas lembre-se que
					somente um exame feito por um especialista pode diagnosticar com precisão a doença</p>
			</div>
		</div>
	</div>
</section>
<form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
	<div class="container">
		<div class="panel">
			<div class="button_outer">
				<div class="btn_upload">
					<input type="file" id="upload_file" name="" accept="image/*" />
					Selecionar Imagem
				</div>
				<div class="processing_bar"></div>
				<div class="success_box"></div>
			</div>
		</div>
		<div class="error_msg"></div>
		<div class="uploaded_file_view" id="uploaded_view">
			<span class="file_remove">X</span>
		</div>
	</div>
</form>
{% endblock %}