<!doctype html>
<html class="no-js" lang="en">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Retinoblastoma</title>

    <!-- Metas -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Robots -->
    <meta name="rating" content="General">
    <meta name="robots" content="noindex, nofollow">
    <meta name="revisit-after" content="1">

    <!-- All Plugin Css -->
    <link rel="stylesheet" href="{{ url_for('static_css_files', filename='plugins.css') }}">

    <!-- Style & Common Css -->
    <link rel="stylesheet" href="{{ url_for('static_css_files', filename='common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static_css_files', filename='main.css') }}">

    {% endblock %}
</head>

<body>

    <!-- Navigation Start  -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">

        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('media_files', filename='logo.png') }}" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('analysis') }}">Análise</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- Navigation End  -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="main-banner" style="background:#242c36 url(media/primo_do_je.jpg) no-repeat">
        <div class="container">
            <div class="caption">
                <h2>RETINOBLASTOMA</h2>
            </div>
        </div>
    </section>

    {% block content %}
    {% endblock %}

    <!-- footer start -->
    <footer>
        {% block footer %}
        <div class="copy-right">
            Desenvolvido por <a href="https://www.linkedin.com/in/gabriel-orbeli-436815171/" target="_blank">
                Gabriel Orbeli</a>
        </div>
        {% endblock %}
    </footer>

    <!-- JavaScript placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static_js_files', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static_js_files', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static_js_files', filename='owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static_js_files', filename='bootsnav.js') }}"></script>
    <script src="{{ url_for('static_js_files', filename='main.js') }}"></script>
</body>

</html>